.line {
		fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }

.heading {
	padding-top: 30px;
}

.buttonWidth {
	height: 34px;
	width: 50px;
}

.actiontable {
	width: 36rem;
}

 .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }



.area {
  fill: none;
  stroke: #a2dced;
  stroke-width: 2;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
